/***************************/
/***      Colors         ***/
/***************************/

.bg-light {
  background-color: #e5e7e9 !important;
}

/*----- Text Colors ----*/
.gray {
  color: #687177;
}

.text-light {
  color: #e5e7e9 !important;
}

/* ----------------------------------------------- */
/* Initial SETUP */
/* ----------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  width: 100%;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

/* ----- Rows/Section ----- */
.row1 {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

.non-cap {
  text-transform: none;
}

/* ----- HEADINGS ----- */
h2,
h3,
h4,
h5 a {
  font-weight: 700;
  text-transform: capitalize;
}

h1 {
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

h5 {
  font-size: 15px;
}

/* ----- PARAGRAPHS ----- */
.box p {
  font-size: 90%;
  line-height: 145%;
}

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

/* ----- LINKS ----- */

.nav-link1 {
  border-top: 1.5px solid #fff;
  transition: border-top 0.7s !important;
}

.nav-link1:hover {
  color: #dc3545;
  border-top: 1.5px solid #dc3545;
}

.link-hov {
  color: #343a40;
  text-decoration: none;
}

.link-hov:hover {
  color: #dc3545;
  text-decoration: none;
}

/*****************************/
/***      Carousel         ***/
/*****************************/

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: center;
}

/**************************/
/***      Cards         ***/
/**************************/

/*---  flip card ---*/
.card-flip > div {
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
  transform: rotateY(0deg);
}

.card-hover {
  transition: transform 0.8s;
}

.card-hover:hover {
  border-color: #dc3545 !important;
  color: #dc3545 !important;
  transform: scale(1.05) !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06) !important;
}

/**************************/
/***   miscellaneous    ***/
/**************************/

.active {
  background-color: #dc3545 !important;
}

.darken {
  filter: brightness(65%);
}

.mb-header {
  margin-bottom: 5.5rem !important;
}
